* {
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: white;
}

#icon{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border-style: double;
}

#icon_frame{
    align-items: center;
    align-content: center;
    text-align: center;
}

#title_frame{
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    align-content: center;
    text-align: center;
}

#cabecalho{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    height: auto;
}


#conteudo {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right:10%;
}

